/* Master Styles */
*:focus { outline:3px dotted yellow; }
.offscreenText {
position: absolute;
clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
clip: rect(1px, 1px, 1px, 1px);
clip-path: inset(50%);
padding: 0;
border: 0;
height: 1px; 
width: 1px; 
overflow: hidden;
white-space: nowrap;
}

body { background-color:#000 !important; color: #fff !important; padding:50px 0 0 200px; font-size:30px; } 
h1, h2 { color:yellow; }
a { color:#fff; width:200px; text-align: center; display:inline-block;  }
button { font-size:30px; }
input { height:40px; font-size:30px; border:none; outline:none; } 
#va { margin-top:500px; } 
