/* Master Styles */
*:focus { outline:5px dotted #fff; }
[role="option"]:focus { outline:5px dotted #000; }
[tabindex="-1"]:focus { outline:none; }
[role="listbox"]{ border:5px solid #000; padding:20px; border-radius:5px; }
[role="combobox"] { padding:10px; }
.offscreenText {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    padding: 0;
    border: 0;
    height: 1px; 
    width: 1px; 
    overflow: hidden;
    white-space: nowrap;
}





body { 
 background-color:#000;
 background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CjxmaWx0ZXIgaWQ9Im4iPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjciIG51bU9jdGF2ZXM9IjEwIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIj48L2ZlVHVyYnVsZW5jZT4KPC9maWx0ZXI+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjMDAwIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWx0ZXI9InVybCgjbikiIG9wYWNpdHk9IjAuNCI+PC9yZWN0Pgo8L3N2Zz4=");
 color: #fff;
 padding-left:50px; 
 font-size:2.5rem;
 min-width:900px;
 
} 
h1, h2 { color:#daa233; }
a { color:#fff;  } 
a[routerLink] { 
    padding: 20px;
    background-color:#2d7b93; 
    width:200px; text-align:center; 
    display:inline-block;  
    text-decoration:none; 
    margin-bottom:10px;
} 
a[routerLink]>span { color:#fff; }
a[routerLink]:first-of-type { 
    width:200px; 
    text-align: center; 
    display:inline-block; 
} 
button { 
    font-size:2rem;
    background-color:#2d7b93;
    color:#fff;
    padding:10px;
    border-radius: 5px;
}
input { 
    font-size:2.5rem;
    height:50px;
    border:5px solid #000; 

} 

#content *:focus { outline:8px dotted #000; border:none; }

#content { background-color:#fff; color:#000; padding:20px 0 20px 20px; min-height:900px; width:90%; }
#content h2 { color:#000; }
#content a { color:blue; }

#skipLinkContainer { height:60px; position:relative; top:30px; } 







