<h2>ComboBox</h2>
<label for="statesInput">States</label>
<input id="statesInput" #input
role="combobox"
[attr.aria-expanded]="expanded"
aria-autocomplete="both"
type="text" 
(keydown.alt.ArrowDown)="expand()" 
(keydown.alt.ArrowUp)="collapse()" 
(keydown.a)="firstCharAlphaSelect($event)"
(keydown.b)="firstCharAlphaSelect($event)"
(keydown.c)="firstCharAlphaSelect($event)"
(keydown.d)="firstCharAlphaSelect($event)"
(keydown.e)="firstCharAlphaSelect($event)"
(keydown.f)="firstCharAlphaSelect($event)"
(keydown.g)="firstCharAlphaSelect($event)"
(keydown.h)="firstCharAlphaSelect($event)"
(keydown.i)="firstCharAlphaSelect($event)"
(keydown.j)="firstCharAlphaSelect($event)"
(keydown.k)="firstCharAlphaSelect($event)"
(keydown.l)="firstCharAlphaSelect($event)"
(keydown.m)="firstCharAlphaSelect($event)"
(keydown.n)="firstCharAlphaSelect($event)"
(keydown.o)="firstCharAlphaSelect($event)"
(keydown.p)="firstCharAlphaSelect($event)"
(keydown.q)="firstCharAlphaSelect($event)"
(keydown.r)="firstCharAlphaSelect($event)"
(keydown.s)="firstCharAlphaSelect($event)"
(keydown.t)="firstCharAlphaSelect($event)"
(keydown.u)="firstCharAlphaSelect($event)"
(keydown.v)="firstCharAlphaSelect($event)"
(keydown.w)="firstCharAlphaSelect($event)"
(keydown.x)="firstCharAlphaSelect($event)"
(keydown.y)="firstCharAlphaSelect($event)"
(keydown.z)="firstCharAlphaSelect($event)"
(keydown.shift.a)="firstCharAlphaSelect($event)"
(keydown.shift.b)="firstCharAlphaSelect($event)"
(keydown.shift.c)="firstCharAlphaSelect($event)"
(keydown.shift.d)="firstCharAlphaSelect($event)"
(keydown.shift.e)="firstCharAlphaSelect($event)"
(keydown.shift.f)="firstCharAlphaSelect($event)"
(keydown.shift.g)="firstCharAlphaSelect($event)"
(keydown.shift.h)="firstCharAlphaSelect($event)"
(keydown.shift.i)="firstCharAlphaSelect($event)"
(keydown.shift.j)="firstCharAlphaSelect($event)"
(keydown.shift.k)="firstCharAlphaSelect($event)"
(keydown.shift.l)="firstCharAlphaSelect($event)"
(keydown.shift.m)="firstCharAlphaSelect($event)"
(keydown.shift.n)="firstCharAlphaSelect($event)"
(keydown.shift.o)="firstCharAlphaSelect($event)"
(keydown.shift.p)="firstCharAlphaSelect($event)"
(keydown.shift.q)="firstCharAlphaSelect($event)"
(keydown.shift.r)="firstCharAlphaSelect($event)"
(keydown.shift.s)="firstCharAlphaSelect($event)"
(keydown.shift.t)="firstCharAlphaSelect($event)"
(keydown.shift.u)="firstCharAlphaSelect($event)"
(keydown.shift.v)="firstCharAlphaSelect($event)"
(keydown.shift.w)="firstCharAlphaSelect($event)"
(keydown.shift.x)="firstCharAlphaSelect($event)"
(keydown.shift.y)="firstCharAlphaSelect($event)"
(keydown.shift.z)="firstCharAlphaSelect($event)"
(keydown.ArrowDown)="selectNextOption()" 
(keydown.ArrowUp)="selectPrevOption()"
/>
<button (click)="toggleExpanded()" tabindex="-1">toggle listbox</button>
<list-box 
[selectedId]="selectedId" 
*ngIf="expanded" 
(onListboxOptionSelected)="onListboxOptionSelected($event)"
(onListboxEscPressed)="onListboxEscPressed()"
></list-box>
