
<div id="dialog" (keyup.esc)="close()" role="dialog" aria-describedby="desc">
<p class="offscreenText">Beginning of dialog</p>
<button id="closeButton" #closeButton (keydown.shift.Tab)="focusActionButton()" (click)="close()" closeButtonActivated>X</button>
<h1>Modal Dialog</h1>
<p id="desc">Based on <a href="https://www.w3.org/TR/wai-aria-practices-1.1/#combobox">https://www.w3.org/TR/wai-aria-practices-1.1/#combobox</a></p>
<button #actionButton (keydown.Tab)="focusCloseButton()"  (click)="doIt()">Do it!</button>
<p class="offscreenText">End of dialog</p>
</div>


