
#dialog { color:#000; background-color:yellow; color:#000; width:500px; position:fixed; top:40%; left:30%; padding:20px; }
#dialog h1 { color:#000; }
#closeButton { position:absolute; top: 17px; left:475px; }
